.container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* color: aqua;
    height: 300px;
    width: 500px; */
    
}

.textarea-container {
    width: 100%;
}

.create-question-container {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* justify-content: space-between; */
}

.question-management-container {
    width: 50%;
    background-color: #8f732f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.text-field-style {
    width: 100%;
}

.route-to-map-btn {
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}