.question-item-container {
    height: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(73, 70, 70);
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 95%;
    margin-bottom: 20px;
}

.icon-group {
    display: flex;
    flex-direction: row;
    width: 55px;
    justify-content: space-between;
}